{% extends "layout.html" %}
{% block content%}
    <h1>About Page</h1>
    <img src="{{url_for('static', filename='profile_pics/default.jpg')}}" alt="" srcset="">
    <h2>This is a personal blog web app that highlights blogs that i have liked in the past.The above image is a post from an article that discussed on PTSD and how it affects soldiers who have been in warzones.
    To most of this soldiers recooperating back into society is a major challenge and they need help in doing so, i found this blog really interesting and i would like to urge any new user to also post something that they liked and leave a comment on how they felt about it. </h2>
{% endblock content %}
